/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the navigation bar */
.navbar {
    display: flex;
    justify-content: flex-end;
    border: 1px solid rgb(155, 155, 155);
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgb(157, 157, 157);
}

/* Style for the navigation links */
.links {
    display: flex;
    margin: 0;
    padding: 0;
}

.links li {
    margin-left: 20px;
}

.links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

/* Set a background color and font style */
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnOL6OUzTCBHsCQWm8laQvOb8loJWYQUpUQ_O91VKBug&s');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .container {
    max-width: 800px; /* Adjust this as needed */
    margin: 0 auto;
    padding: 20px;
  }
/* Style the header section */
header {
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Style the profile picture */
.profile-picture {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
}


/* Style the name */
h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

/* Style the registration number */
h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #888;
}

/* Section headings and content */
.section {
    margin-top: 40px;
    display: flex;
}

.section h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.section-content {
    font-size: 16px;
    margin-bottom: 10px;
    color: #444;
}

/* Style for skills */
.section ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
    color: #444;
}
